body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #f4f4f4;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

h2 {
    margin: 5px 0;
    font-size: 1.5em;
    color: #555;
}

.content {
    padding: 20px;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #555;
}

footer {
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
}

